/* Apply styles only within the lab1 component */
.lab1-container {
  background-color: white; /* Set background to white for the lab only */
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensure full height coverage */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lab1-container .flag-container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin-top: 40px; /* Set top margin to 40px */
}

.lab1-container .flag-container h2 {
  color: #28a745;
}

.lab1-container .flag-container p {
  color: black; /* Make this line code black */
}

.lab1-container .flag-container .flag {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}
